---
title: About the PXF Installation and Configuration Directories
---

PXF is installed to `$GPHOME/pxf` on your master and segment nodes when you install Greenplum Database. If you install the PXF `rpm` or `deb` package, PXF is installed to `/usr/local/pxf-gp<greenplum-major-version>`, or to a directory of your choosing (CentOS/RHEL only). This documentation uses `$PXF_HOME` to refer to the PXF installation directory.

## <a id="installed"></a>PXF Installation Directories

The following PXF files and directories are installed to `$PXF_HOME` when you install Greenplum Database or the PXF `rpm` or `deb`:

| Directory | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| apache&#8209;tomcat/     | The PXF Tomcat directory.  |
| bin/                | The PXF script and executable directory.                                                                                                                                                                                                                       |
| commit.sha          | The commit identifier for this PXF release.                                                                                                                                                                                                                       |
| conf/                | The PXF internal configuration directory. This directory contains the `pxf-env-default.sh` and `pxf-profiles-default.xml` configuration files. After initializing PXF, this directory will also include the `pxf-private.classpath` file. |
| gpextable/           | The PXF extension files. The files in this directory are copied to the Greenplum installation (`$GPHOME`) on a single host or all hosts in the cluster when you run `pxf [cluster] register`.                                                                                                                                                                                                              |
| lib/                 | The PXF library directory.                                                                                                                                                                                                                       |
| templates/                | Configuration templates for PXF. |
| version              | The PXF version.                                                                                                                                                                                                                       |


## <a id="runtime"></a>PXF Runtime Directories

During initialization and startup, PXF creates the following internal directories in `$PXF_HOME`:


| Directory | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| pxf&#8209;service/         | After initializing PXF, the PXF service instance directory.                                                                                                                                                                                                              |
| run/         | After starting PXF, the PXF run directory. Includes a PXF catalina process id file.                                                                                                                                                                                                              |

## <a id="usercfg"></a>PXF User Configuration Directories

Also during initialization, PXF populates a user configuration directory that you specify via the `PXF_CONF` environment variable with the following subdirectories and template files:

| Directory | Description   |
|-----------|---------------|
| conf/     | The location of user-customizable PXF configuration files: `pxf-env.sh`, `pxf-log4j.properties`, and `pxf-profiles.xml`. |
| keytabs/  | The default location for the PXF service Kerberos principal keytab file.  |
| lib/     | The default PXF user runtime library directory. |
| logs/     | The PXF runtime log file directory. Includes `pxf-service.log` and the Tomcat-related log `catalina.out`. The `logs/` directory and log files are readable only by the `gpadmin` user. |
| servers/  | The server configuration directory; each subdirectory identifies the name of a server. The default server is named `default`. The Greenplum Database administrator may configure other servers. |
| templates/  | The configuration directory for connector server template files. |

Refer to [Initializing PXF](init_pxf.html) and [Starting PXF](cfginitstart_pxf.html#start_pxf) for detailed information about the PXF initialization and startup commands and procedures.
