---
title: OS Upgrade Considerations for PXF
---

PXF 6.3.0 introduces support for Red Hat Enterprise Linux 8.x. If you plan to upgrade the operating system in your Greenplum Database cluster hosts to RHEL 8 and you are running PXF in your Greenplum installation, you must perform some PXF-specific actions before and after you upgrade the OS.

The following procedures assume that you are upgrading the OS on a different set of hosts than that of the current/running Greenplum cluster.

## <a id="pre"></a>Pre-OS Upgrade Actions

Perform the following steps before you upgrade the operating system:

1. Upgrade PXF in your current cluster to at least version v6.3.0 (the first release with RHEL 8 support) and verify PXF operation **before** you commence the OS upgrade.

1. Retain the following PXF user configuration directories, typically located in `/usr/local/pxf-gp6`: `conf/`, `keytabs/`, `lib/`, and `servers/`. If you relocated `$PXF_BASE`, retain the configuration in that directory.


## <a id="post"></a>Post-OS Upgrade Actions

After you upgrade the operating system and install, configure, and verify Greenplum Database on the new set of hosts, perform the following procedure:

1. Download a PXF RHEL 8 package from [VMware Tanzu Network](https://network.tanzu.vmware.com/products/pivotal-gpdb/). *You must download the same version of PXF as that was running on the original Greenplum Database cluster.*

1. Install PXF for RHEL 8 on all Greenplum Database hosts.

1. Copy the PXF configuration files from the original cluster to `/user/local/pxf-gp6` on the RHEL 8 Greenplum Database master host. If you choose to [relocate $PXF_BASE](about_pxf_dir.html#movebase), copy the configuration to that directory instead.

1. Synchronize the PXF configuration to all hosts in the Greenplum cluster:

    ``` shell
    gpadmin@gpmaster$ pxf cluster sync
    ```

1. Start PXF on each Greenplum host:

    ``` shell
    gpadmin@gpmaster$ pxf cluster start
    ```

1. Verify that PXF can access each external data source by querying external tables that specify each PXF server configuration.

