<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <property>
        <name>ssl.server.keystore.location</name>
        <value>/opt/security/CAcerts/host-keystore.p12</value>
        <description>Keystore to be used by NN and DN. Must be specified.
        </description>
    </property>
    <property>
        <name>ssl.server.keystore.password</name>
        <value>{{ ssl_store_password }}</value>
        <description>Must be specified.</description>
    </property>
    <property>
        <name>ssl.server.keystore.keypassword</name>
        <value>{{ ssl_store_password }}</value>
        <description>Must be specified.</description>
    </property>
    <property>
        <name>ssl.server.keystore.type</name>
        <value>pkcs12</value>
        <description>Optional. The keystore file format, default value is "jks".</description>
    </property>
</configuration>
