build
/log
/runnerState.properties
/jsystem.properties.bu
/.testdir.tmp
/bin
.ant_targets
/jsystem*.log.*
/junitvmwatcher*.properties
docs
.gradle
/log-regression
dist/

HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
