platform: linux

image_resource:
  type: registry-image

inputs:
  - name: pxf_src
  - name: pxf_artifacts

outputs:
  - name: pxf_artifacts

params:
  GP_VER:
  REDHAT_MAJOR_VERSION:

run:
  path: pxf_src/concourse/scripts/add_osl_rpm.bash
